
<div class="col-12 col-lg-6 offset-lg-3" style="margin: 15px; width: 50vw;">
    <h3 style="padding-top: 10px; margin-bottom: 2px;">Regisztráció</h3>
  
    <div class="alert hide" id="alertReg" role="alert">
        
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="nameField" placeholder="">
        <label for="nameField">Név</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="emailField" placeholder="">
        <label for="emailField">Email cím</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="passField" placeholder="">
        <label for="passField">Jelszó</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="confirmpassField" placeholder="">
        <label for="confirmpassField">Jelszó megerősítése</label>
    </div>
    <button type="button" class="btn btn-outline-primary" onclick="Registration()" id="registerBtn">Regisztrálok</button>
    
</div>