<h3 style="padding:10px 15px 0px 15px">Időjárási adatok felvétele </h3>
<div class="alert hide" id="alertReg" role="alert" style="width:60vw ;margin-left: 15px;"></div>

<div class="row">
    <div class="form-floating mb-3 col-12 col-lg-4" >

        <input type="date" class="form-control"  style="width:60vw; margin-left: 15px;" id="dateField" min="" placeholder="">
        
        <label for="dateField" style=" margin-left: 25px;">Dátum</label>

</div>
<div  class="form-floating mb-3" >
    <input type="text" class="form-control" style="width:60vw; margin-left: 15px;" id="minField" max="" placeholder="">
    <label for="minField" style=" margin-left: 25px;">Minimum hőmérséklet</label>

</div>
<div class="form-floating mb-3" >
    <input type="text" class="form-control" style="width:60vw; margin-left: 15px;" id="maxField" max="" placeholder="">
    <label for="maxField" style=" margin-left: 25px;">Maximum hőmérséklet</label>

    <div class="alert hide" id="alertReg" role="alert">
</div>
    <div  class="form-floating mb-3">
        <select name="weatherField" id="weatherField" class="form-control" style="width:60vw; margin-left: 15px; " >
            <option value="rainy">Esős</option>
            <option value="storm">Zivatar</option>
            <option value="foggy">Ködös</option>
            <option value="sunny">Napsütés</option>
            <option value="snowy">Hóesés</option>
            <option value="cloudy">Felhős</option>
        </select> 
        <label for="weatherField" style=" margin-left: 15px;">Időjárás fajta</label>
</div>
    <div class="col-12 col-lg-4">
    <button class="btn btn-outline-primary" style="margin: 0px 0px 10px 15px;" onclick="Add()" id="addBtn">Hozzáadás</button>
    <button class="btn btn-outline-primary d-none" style="margin: 0px 0px 10px 15px; "  onclick="Update()" id="updBtn">Módosítás</button>
    <button class="btn btn-outline-primary d-none" style="margin: 0px 0px 10px 15px;"  onclick="Del()" id="delBtn">Törlés</button>
    <button class="btn btn-outline-primary d-none" style="margin: 0px 0px 10px 15px;" onclick="Cancel()" id="cancelBtn">Mégsem</button>
    </div>
</div>



<table class="table" style="width: 65vw; margin-left:20px;margin-right:20px;">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-start">Dátum</th>
            <th class="text-end">Időjárás</th>
            <th class="text-end">Min hőfok</th>
            <th class="text-end">Max hőfok</th>
            <th class="text-end">Műveletek</th>
        </tr>
    </thead>
    <tbody id="tbody">
        <!--Ide jönnek az adatok dinamikusan-->
    </tbody>
    
</table>